i[class^=icon] {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

// icon-size
.icon-size-18 { width: 18px; height: 18px; }
.icon-size-27 { width: 27px; height: 27px; }

// svg-size
.svg-icon-18 { font-size: 18px; }
.svg-icon-24 { font-size: 24px; }

// margin-bottom
.icon-mb--3 { margin-bottom: -3px; }
.icon-mb--4 { margin-bottom: -4px; }

// icon
.svg-icon-password { color: $color-main; }